In [11]:
#Step 1.1: Importing Libraries for Citibike_Final Dataset; 

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import scipy
import calendar

In [12]:
#Step 1.2: Creating a Folderpath for Citibike_Final Dataset; 

path ='/users/ibu/Documents/Bike Rental Analysis'

In [13]:
#Step 1.3: Importing 'Citibike_Final' Dataset from 'Prepared' Data Folder;

df_bikes = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'Citibike_T62.csv'), index_col = False)

In [14]:
#Step 1.3a: Checking Shape & Dimension; 

df_bikes.head()

,Unnamed: 0,Bike_ID,Weekday,Start_Hour,Start_Time,Start_Station_ID,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_Time,End_Station_ID,End_Station_Name,End_Station_Latitude,End_Station_Longitude,Trip_Duration,Member_Status,Gender,Distance
0,0,16013,Mon,18,9/9/13 18:18,523,W 38 St & 8 Ave,40.754666,-73.991382,9/9/13 18:35,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,Female,High_Latitude
1,1,15230,Thu,18,9/12/13 18:38,257,Lispenard St & Broadway,40.719392,-74.002472,9/12/13 18:48,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,Male,Mid_Latitude
2,2,17942,Wed,19,9/18/13 19:44,479,9 Ave & W 45 St,40.760193,-73.991255,9/18/13 19:50,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,Male,High_Latitude
3,3,19683,Sat,11,9/28/13 11:54,527,E 33 St & 1 Ave,40.743156,-73.974347,9/28/13 12:03,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,Female,High_Latitude
4,4,18024,Sat,18,9/7/13 18:08,521,8 Ave & W 31 St,40.750450,-73.994811,9/7/13 18:46,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,Unknown,High_Latitude

In [15]:
#Step 1.3b: Checking Shape & Dimension; 

df_bikes.shape

(50000, 18)

In [16]:
df_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               50000 non-null  int64
 1   Bike_ID                  50000 non-null  int64
 2   Weekday                  50000 non-null  object
 3   Start_Hour               50000 non-null  int64
 4   Start_Time               50000 non-null  object
 5   Start_Station_ID         50000 non-null  int64
 6   Start_Station_Name       50000 non-null  object
 7   Start_Station_Latitude   50000 non-null  float64
 8   Start_Station_Longitude  50000 non-null  float64
 9   End_Time                 50000 non-null  object
 10  End_Station_ID           50000 non-null  int64
 11  End_Station_Name         50000 non-null  object
 12  End_Station_Latitude     50000 non-null  float64
 13  End_Station_Longitude    50000 non-null  float64
 14  Trip_Duration            50000 non-null  int64
 15  Member_Status            50000 non-null  object
 16  Gender                   50000 non-null  object
 17  Distance                 50000 non-null  object
dtypes: float64(4), int64(6), object(8)
memory usage: 6.9+ MB

In [23]:
df_bikes['Start_Time'] = pd.to_datetime(df_bikes['Start_Time'])

df_bikes['Date'] = df_bikes['Start_Time'].dt.date

df_bikes['Time'] = df_bikes['Start_Time'].dt.time

In [24]:
df_bikes

,Unnamed: 0,Bike_ID,Weekday,Start_Hour,Start_Time,Start_Station_ID,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_Time,End_Station_ID,End_Station_Name,End_Station_Latitude,End_Station_Longitude,Trip_Duration,Member_Status,Gender,Distance,Date,Time
0,0,16013,Mon,18,2013-09-09 18:18:00,523,W 38 St & 8 Ave,40.754666,-73.991382,9/9/13 18:35,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,Female,High_Latitude,2013-09-09,18:18:00
1,1,15230,Thu,18,2013-09-12 18:38:00,257,Lispenard St & Broadway,40.719392,-74.002472,9/12/13 18:48,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,Male,Mid_Latitude,2013-09-12,18:38:00
2,2,17942,Wed,19,2013-09-18 19:44:00,479,9 Ave & W 45 St,40.760193,-73.991255,9/18/13 19:50,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,Male,High_Latitude,2013-09-18,19:44:00
3,3,19683,Sat,11,2013-09-28 11:54:00,527,E 33 St & 1 Ave,40.743156,-73.974347,9/28/13 12:03,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,Female,High_Latitude,2013-09-28,11:54:00
4,4,18024,Sat,18,2013-09-07 18:08:00,521,8 Ave & W 31 St,40.750450,-73.994811,9/7/13 18:46,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,Unknown,High_Latitude,2013-09-07,18:08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,17988,Sat,18,2013-09-21 18:39:00,479,9 Ave & W 45 St,40.760193,-73.991255,9/21/13 20:08,478,11 Ave & W 41 St,40.760301,-73.998842,2697,Non-Subscriber,Unknown,High_Latitude,2013-09-21,18:39:00
49996,49996,18458,Sat,17,2013-09-14 17:32:00,261,Johnson St & Gold St,40.694749,-73.983625,9/14/13 17:52,151,Cleveland Pl & Spring St,40.721816,-73.997203,1191,Subscriber,Female,Low_Latitude,2013-09-14,17:32:00
49997,49997,15054,Sat,18,2013-09-07 18:08:00,402,Broadway & E 22 St,40.740343,-73.989551,9/7/13 18:25,524,W 43 St & 6 Ave,40.755273,-73.983169,1050,Subscriber,Female,High_Latitude,2013-09-07,18:08:00
49998,49998,16763,Sat,13,2013-09-07 13:25:00,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,9/7/13 14:14,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2697,Non-Subscriber,Unknown,Low_Latitude,2013-09-07,13:25:00
49999,49999,16794,Mon,21,2013-09-23 21:54:00,515,W 43 St & 10 Ave,40.760094,-73.994618,9/23/13 22:00,488,W 39 St & 9 Ave,40.756458,-73.993722,370,Subscriber,Female,High_Latitude,2013-09-23,21:54:00

In [25]:
df_bikes['End_Time'] = pd.to_datetime(df_bikes['End_Time'])

df_bikes['Date1'] = df_bikes['End_Time'].dt.date

df_bikes['Time2'] = df_bikes['End_Time'].dt.time

In [26]:
df_bikes

,Unnamed: 0,Bike_ID,Weekday,Start_Hour,Start_Time,Start_Station_ID,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_Time,...,End_Station_Latitude,End_Station_Longitude,Trip_Duration,Member_Status,Gender,Distance,Date,Time,Date1,Time2
0,0,16013,Mon,18,2013-09-09 18:18:00,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:00,...,40.742388,-73.997262,993,Subscriber,Female,High_Latitude,2013-09-09,18:18:00,2013-09-09,18:35:00
1,1,15230,Thu,18,2013-09-12 18:38:00,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:00,...,40.728419,-73.987140,581,Subscriber,Male,Mid_Latitude,2013-09-12,18:38:00,2013-09-12,18:48:00
2,2,17942,Wed,19,2013-09-18 19:44:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:00,...,40.768254,-73.988639,361,Subscriber,Male,High_Latitude,2013-09-18,19:44:00,2013-09-18,19:50:00
3,3,19683,Sat,11,2013-09-28 11:54:00,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:00,...,40.756014,-73.967416,561,Subscriber,Female,High_Latitude,2013-09-28,11:54:00,2013-09-28,12:03:00
4,4,18024,Sat,18,2013-09-07 18:08:00,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:00,...,40.743943,-73.979661,2296,Non-Subscriber,Unknown,High_Latitude,2013-09-07,18:08:00,2013-09-07,18:46:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,17988,Sat,18,2013-09-21 18:39:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:00,...,40.760301,-73.998842,2697,Non-Subscriber,Unknown,High_Latitude,2013-09-21,18:39:00,2013-09-21,20:08:00
49996,49996,18458,Sat,17,2013-09-14 17:32:00,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:00,...,40.721816,-73.997203,1191,Subscriber,Female,Low_Latitude,2013-09-14,17:32:00,2013-09-14,17:52:00
49997,49997,15054,Sat,18,2013-09-07 18:08:00,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:00,...,40.755273,-73.983169,1050,Subscriber,Female,High_Latitude,2013-09-07,18:08:00,2013-09-07,18:25:00
49998,49998,16763,Sat,13,2013-09-07 13:25:00,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:00,...,40.693317,-73.953820,2697,Non-Subscriber,Unknown,Low_Latitude,2013-09-07,13:25:00,2013-09-07,14:14:00
49999,49999,16794,Mon,21,2013-09-23 21:54:00,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:00,...,40.756458,-73.993722,370,Subscriber,Female,High_Latitude,2013-09-23,21:54:00,2013-09-23,22:00:00

In [27]:
#Step 1.5: Deleting 'Unnamed: 0' Column; Not needed for Analysis; 

df_bikes = df_bikes.drop(columns = ['Unnamed: 0', 'Date1'])

In [28]:
df_bikes

,Bike_ID,Weekday,Start_Hour,Start_Time,Start_Station_ID,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_Time,End_Station_ID,End_Station_Name,End_Station_Latitude,End_Station_Longitude,Trip_Duration,Member_Status,Gender,Distance,Date,Time,Time2
0,16013,Mon,18,2013-09-09 18:18:00,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:00,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,Female,High_Latitude,2013-09-09,18:18:00,18:35:00
1,15230,Thu,18,2013-09-12 18:38:00,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:00,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,Male,Mid_Latitude,2013-09-12,18:38:00,18:48:00
2,17942,Wed,19,2013-09-18 19:44:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:00,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,Male,High_Latitude,2013-09-18,19:44:00,19:50:00
3,19683,Sat,11,2013-09-28 11:54:00,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:00,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,Female,High_Latitude,2013-09-28,11:54:00,12:03:00
4,18024,Sat,18,2013-09-07 18:08:00,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:00,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,Unknown,High_Latitude,2013-09-07,18:08:00,18:46:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:00,478,11 Ave & W 41 St,40.760301,-73.998842,2697,Non-Subscriber,Unknown,High_Latitude,2013-09-21,18:39:00,20:08:00
49996,18458,Sat,17,2013-09-14 17:32:00,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:00,151,Cleveland Pl & Spring St,40.721816,-73.997203,1191,Subscriber,Female,Low_Latitude,2013-09-14,17:32:00,17:52:00
49997,15054,Sat,18,2013-09-07 18:08:00,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:00,524,W 43 St & 6 Ave,40.755273,-73.983169,1050,Subscriber,Female,High_Latitude,2013-09-07,18:08:00,18:25:00
49998,16763,Sat,13,2013-09-07 13:25:00,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:00,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2697,Non-Subscriber,Unknown,Low_Latitude,2013-09-07,13:25:00,14:14:00
49999,16794,Mon,21,2013-09-23 21:54:00,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:00,488,W 39 St & 9 Ave,40.756458,-73.993722,370,Subscriber,Female,High_Latitude,2013-09-23,21:54:00,22:00:00

In [29]:
#Column Renaming Using 'rename()' Function;

df_bikes.rename(columns = {'Date': 'Rental_Date', 'Time': 'Pickup_Time', 'Time2': 'Dropoff_Time'}, inplace = True)

In [87]:
df_bikes

,Bike_ID,Weekday,Start_Hour,Start_Time,Start_Station_ID,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_Time,End_Station_ID,...,Gender,Distance,Rental_Date,Pickup_Time,Dropoff_Time,Pickup_Minute,Dropoff_Minute,Rental_Duration,Pickup_Hour,Dropoff_Hour
0,16013,Mon,18,2013-09-09 18:18:00,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:00,334,...,Female,High_Latitude,2013-09-09,18:18:00,18:35:00,18,35,17,18,18
1,15230,Thu,18,2013-09-12 18:38:00,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:00,236,...,Male,Mid_Latitude,2013-09-12,18:38:00,18:48:00,38,48,10,18,18
2,17942,Wed,19,2013-09-18 19:44:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:00,513,...,Male,High_Latitude,2013-09-18,19:44:00,19:50:00,44,50,6,19,19
3,19683,Sat,11,2013-09-28 11:54:00,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:00,441,...,Female,High_Latitude,2013-09-28,11:54:00,12:03:00,54,3,-51,11,12
4,18024,Sat,18,2013-09-07 18:08:00,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:00,476,...,Unknown,High_Latitude,2013-09-07,18:08:00,18:46:00,8,46,38,18,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:00,478,...,Unknown,High_Latitude,2013-09-21,18:39:00,20:08:00,39,8,-31,18,20
49996,18458,Sat,17,2013-09-14 17:32:00,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:00,151,...,Female,Low_Latitude,2013-09-14,17:32:00,17:52:00,32,52,20,17,17
49997,15054,Sat,18,2013-09-07 18:08:00,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:00,524,...,Female,High_Latitude,2013-09-07,18:08:00,18:25:00,8,25,17,18,18
49998,16763,Sat,13,2013-09-07 13:25:00,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:00,373,...,Unknown,Low_Latitude,2013-09-07,13:25:00,14:14:00,25,14,-11,13,14
49999,16794,Mon,21,2013-09-23 21:54:00,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:00,488,...,Female,High_Latitude,2013-09-23,21:54:00,22:00:00,54,0,-54,21,22

In [61]:
import datetime as dt

In [62]:
df_bikes.dtypes

Bike_ID                             int64
Weekday                            object
Start_Hour                          int64
Start_Time                 datetime64[ns]
Start_Station_ID                    int64
Start_Station_Name                 object
Start_Station_Latitude            float64
Start_Station_Longitude           float64
End_Time                   datetime64[ns]
End_Station_ID                      int64
End_Station_Name                   object
End_Station_Latitude              float64
End_Station_Longitude             float64
Trip_Duration                       int64
Member_Status                      object
Gender                             object
Distance                           object
Rental_Date                        object
Pickup_Time                        object
Dropoff_Time                       object
dtype: object

In [84]:
df_bikes['Time_Duration'] = (df_bikes['End_Time'] - df_bikes['Start_Time']).dt.strptime

AttributeError: 'TimedeltaProperties' object has no attribute 'strptime'

In [75]:
from datetime import datetime

s1 = df_bikes ['Start_Time']
s2 = df_bikes ['End_Time'] # for example

format = '%H:%M:%S'

df_bikes ['Rental_Duration'] = datetime.strptime(s2, format) - datetime.strptime(s1, format)

print (time)

TypeError: strptime() argument 1 must be str, not Series

In [ ]:
df_bikes['Dropoff_Time'] = pd.to_datetime(df_bikes['Dropoff_Time'])

df_bikes['Date1'] = df_bikes['End_Time'].dt.date

df_bikes['Time2'] = df_bikes['End_Time'].dt.time



df_bikes['Pickup_Hour'] = df_bikes ['Start_Time'].dt.hour.minute

df_bikes['Dropoff_Hour'] = df_bikes ['End_Time'].dt.hour.minute

In [69]:
df_bikes

,Bike_ID,Weekday,Start_Hour,Start_Time,Start_Station_ID,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_Time,End_Station_ID,...,Gender,Distance,Rental_Date,Pickup_Time,Dropoff_Time,Pickup_Minute,Dropoff_Minute,Rental_Duration,Pickup_Hour,Dropoff_Hour
0,16013,Mon,18,2013-09-09 18:18:00,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:00,334,...,Female,High_Latitude,2013-09-09,18:18:00,18:35:00,18,35,17,18,18
1,15230,Thu,18,2013-09-12 18:38:00,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:00,236,...,Male,Mid_Latitude,2013-09-12,18:38:00,18:48:00,38,48,10,18,18
2,17942,Wed,19,2013-09-18 19:44:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:00,513,...,Male,High_Latitude,2013-09-18,19:44:00,19:50:00,44,50,6,19,19
3,19683,Sat,11,2013-09-28 11:54:00,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:00,441,...,Female,High_Latitude,2013-09-28,11:54:00,12:03:00,54,3,-51,11,12
4,18024,Sat,18,2013-09-07 18:08:00,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:00,476,...,Unknown,High_Latitude,2013-09-07,18:08:00,18:46:00,8,46,38,18,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:00,478,...,Unknown,High_Latitude,2013-09-21,18:39:00,20:08:00,39,8,-31,18,20
49996,18458,Sat,17,2013-09-14 17:32:00,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:00,151,...,Female,Low_Latitude,2013-09-14,17:32:00,17:52:00,32,52,20,17,17
49997,15054,Sat,18,2013-09-07 18:08:00,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:00,524,...,Female,High_Latitude,2013-09-07,18:08:00,18:25:00,8,25,17,18,18
49998,16763,Sat,13,2013-09-07 13:25:00,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:00,373,...,Unknown,Low_Latitude,2013-09-07,13:25:00,14:14:00,25,14,-11,13,14
49999,16794,Mon,21,2013-09-23 21:54:00,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:00,488,...,Female,High_Latitude,2013-09-23,21:54:00,22:00:00,54,0,-54,21,22

In [99]:

df_bikes['Pickup_Hour'] = df_bikes ['Pickup_Time'].dt.hour.minute

df_bikes['Dropoff_Hour'] = df_bikes ['Dropoff_Time'].dt.hour.minute

AttributeError: Can only use .dt accessor with datetimelike values

In [82]:
df_bikes

,Bike_ID,Weekday,Start_Hour,Start_Time,Start_Station_ID,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_Time,End_Station_ID,...,Gender,Distance,Rental_Date,Pickup_Time,Dropoff_Time,Pickup_Minute,Dropoff_Minute,Rental_Duration,Pickup_Hour,Dropoff_Hour
0,16013,Mon,18,2013-09-09 18:18:00,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:00,334,...,Female,High_Latitude,2013-09-09,18:18:00,18:35:00,18,35,17,18,18
1,15230,Thu,18,2013-09-12 18:38:00,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:00,236,...,Male,Mid_Latitude,2013-09-12,18:38:00,18:48:00,38,48,10,18,18
2,17942,Wed,19,2013-09-18 19:44:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:00,513,...,Male,High_Latitude,2013-09-18,19:44:00,19:50:00,44,50,6,19,19
3,19683,Sat,11,2013-09-28 11:54:00,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:00,441,...,Female,High_Latitude,2013-09-28,11:54:00,12:03:00,54,3,-51,11,12
4,18024,Sat,18,2013-09-07 18:08:00,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:00,476,...,Unknown,High_Latitude,2013-09-07,18:08:00,18:46:00,8,46,38,18,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:00,478,...,Unknown,High_Latitude,2013-09-21,18:39:00,20:08:00,39,8,-31,18,20
49996,18458,Sat,17,2013-09-14 17:32:00,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:00,151,...,Female,Low_Latitude,2013-09-14,17:32:00,17:52:00,32,52,20,17,17
49997,15054,Sat,18,2013-09-07 18:08:00,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:00,524,...,Female,High_Latitude,2013-09-07,18:08:00,18:25:00,8,25,17,18,18
49998,16763,Sat,13,2013-09-07 13:25:00,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:00,373,...,Unknown,Low_Latitude,2013-09-07,13:25:00,14:14:00,25,14,-11,13,14
49999,16794,Mon,21,2013-09-23 21:54:00,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:00,488,...,Female,High_Latitude,2013-09-23,21:54:00,22:00:00,54,0,-54,21,22

In [98]:
#calculate time difference in minutes

df_bikes ['Rental_DurationX'] = df_bikes('Dropoff_Time' - 'Pickup_Time')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [65]:
def Rental_Duration = (df_bikes.Dropoff_Minute - df_bikes.Pickup_Minute)

SyntaxError: invalid syntax (1376110938.py, line 1)

In [66]:
#calculate time difference in minutes

df_bikes ['Rental_Duration'] = (df_bikes.Dropoff_Minute - df_bikes.Pickup_Minute)

In [67]:
df_bikes

,Bike_ID,Weekday,Start_Hour,Start_Time,Start_Station_ID,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_Time,End_Station_ID,...,Trip_Duration,Member_Status,Gender,Distance,Rental_Date,Pickup_Time,Dropoff_Time,Pickup_Minute,Dropoff_Minute,Rental_Duration
0,16013,Mon,18,2013-09-09 18:18:00,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:00,334,...,993,Subscriber,Female,High_Latitude,2013-09-09,18:18:00,18:35:00,18,35,17
1,15230,Thu,18,2013-09-12 18:38:00,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:00,236,...,581,Subscriber,Male,Mid_Latitude,2013-09-12,18:38:00,18:48:00,38,48,10
2,17942,Wed,19,2013-09-18 19:44:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:00,513,...,361,Subscriber,Male,High_Latitude,2013-09-18,19:44:00,19:50:00,44,50,6
3,19683,Sat,11,2013-09-28 11:54:00,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:00,441,...,561,Subscriber,Female,High_Latitude,2013-09-28,11:54:00,12:03:00,54,3,-51
4,18024,Sat,18,2013-09-07 18:08:00,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:00,476,...,2296,Non-Subscriber,Unknown,High_Latitude,2013-09-07,18:08:00,18:46:00,8,46,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:00,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:00,478,...,2697,Non-Subscriber,Unknown,High_Latitude,2013-09-21,18:39:00,20:08:00,39,8,-31
49996,18458,Sat,17,2013-09-14 17:32:00,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:00,151,...,1191,Subscriber,Female,Low_Latitude,2013-09-14,17:32:00,17:52:00,32,52,20
49997,15054,Sat,18,2013-09-07 18:08:00,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:00,524,...,1050,Subscriber,Female,High_Latitude,2013-09-07,18:08:00,18:25:00,8,25,17
49998,16763,Sat,13,2013-09-07 13:25:00,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:00,373,...,2697,Non-Subscriber,Unknown,Low_Latitude,2013-09-07,13:25:00,14:14:00,25,14,-11
49999,16794,Mon,21,2013-09-23 21:54:00,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:00,488,...,370,Subscriber,Female,High_Latitude,2013-09-23,21:54:00,22:00:00,54,0,-54

In [ ]:
#Defining Functions on 'Price_Label'

def price_label(row):
    
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'
    
    
#Apply the Function

df['price_range'] = df.apply(price_label, axis=1)

In [54]:
def Rental_Duration(Pickup_Time, Dropoff_Time):
    return (Dropoff_Time-Pickup_Time)

df_bikes['Rental_Duration'] = df_bikes.apply(lambda x: diff(x['Dropoff_Time'], x['Pickup_Time']), axis=1)

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'

In [94]:
df_bikes['Pickup_Time'] = df_bikes['Pickup_Time'].astype('|S')

In [97]:
df_bikes['Dropoff_Time'] = df_bikes['Dropoff_Time'].astype('|S')

In [ ]:
#Step 6.1: Exporting Updated 'NYBikes' Dataset;

df_bikes.to_csv(os.path.join(path, '02 Data', 'Prepared', 'NYBikes_T64.csv'))